*{
  font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
}
body{
  width: 1920px;
height: 4569px;
margin: auto;
background: #FFF;
align-items: center;
}
/* navigation part style */
.navigation-container{
  height: 150px;
  background-color: rgba(229, 84, 115, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo{
  background-color:rgba(237, 76, 103,1.0);
height:120px;
width: 120px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}
.logo-header{
   font-size: 30px;
  color: white;
  font-style: italic;
}
.logo-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  align-items: center;
  margin-bottom: -5px;
}
.menu{
}
.menu-list{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.menu-item{
list-style: none;
}
.menu-item>a{
  text-decoration: none;
  margin-left: 30px;
  font-size: 25px;
  color: #FFF;
}
.menu-item>a:hover{
  color: rgba(237, 76, 103,1.2);
}

/* header section style */
.header-section{
  display: flex;
  align-items:center ;
  justify-content: center;
  width: 1920px;
  height: 850px;
  margin: auto;
  background: rgba(229, 84, 115, 0.3); 
  column-gap: 97px;
  margin-bottom: 178px; 
}
.header-content{
  width: 708px;
  height: 506px;
}
.content-header{
  color: #272727;
font-size: 80px;
font-weight: 800;
width: 720px;
height: 288px;
margin-bottom: 32px;
}
.content-description{
  width: 634px;
  height: 90px;
  color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
margin-bottom: 32px;
}
.btn-primary{
  width: 177px;
  height: 64px;
  color: #FFF;
font-size: 20px;
font-weight: 700;
border-radius: 8px;
background: #E55473;
border: none;
}
.btn-primary:hover{color:rgba(0, 148, 50,1.0) ;}
.header-image{
  width: 635px;
  height: 800px;
  margin-bottom: -50px;
}
/* main section style */
/* featured section style */
.featured-container{
  width: 1440px;
  height: 785px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 128px;
}
.featured-content{}
.featured-title{
  width: 450px;
  height: 48px;
  margin: auto;
  color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
margin-bottom: 24px;
}
.featured-message{
  width: 594px;
  height: 60px;
  margin: auto;
  color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
margin-bottom: 48px;
}
.featured-image{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.feature-1{
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.3);
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 32px;

}
.feature-2{
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.4);
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 32px;
}
.feature-3{
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
background: rgba(0, 148, 50,0.4);
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 32px;
}
.product-image-1{
  width: 310px;
height: 428px;
margin-bottom: -107px;
}
.product-image-2{
  width: 370px;
height: 370px;
margin-bottom: -120px;
}
.product-image-3{
  width: 314px;
height: 471px;
margin-bottom: -65px;
}
.product-img-name{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.product-img-name>p{
  color: #272727;
text-align: center;
font-size: 24px;
font-weight: 700;
text-decoration: underline;
width: 250px;
height: 35px;
}
/* .featured-image>a{} */


/* sale container style */
.sale-container{
  width: 1922px;
  height: 620px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
background: rgba(229, 84, 115, 0.2);
column-gap: 186px;

}
.sale-related-content{}
.sale-header{
  width: 594px;
  height: 48px;
  color: #272727;
font-size: 40px;
font-weight: 800;
margin-bottom: 24px;
}
.sale-header span{
  color: #E55473;
}
.sale-description{
  width: 594px;
  height: 60px;
  color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
margin-bottom: 32px;
}
.sign-btn{
  width: 155px;
  height: 64px;
  border-radius: 8px;
background: #E55473;
color: #FFF;
font-size: 20px;
font-weight: 700;
border: 0px;
}
.sign-btn:hover{color:rgba(0, 148, 50,1.0) ;}
.sale-image{
  width: 318px;
  height: 420px;
  background: rgba(255, 204, 204,0.1) 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-2{
}
/* instagram container style */
.message-container{
  align-items: center;
  display: flex;
  justify-content: center; 
}
.message{
  align-items: center;
   width: 594px;
  height: 132px;
  margin: auto;
  margin-top: 128px;
  margin-bottom: 48px;
}
.message-heading{
  width: 180px;
  height: 48px;
  margin: auto;
  color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.message-description{
  width: 595px;
  height: 60px;
  color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
}
/* product image section style */
.product-image{
  display: flex;
  justify-content: space-evenly;
  margin-left: 240px;
  margin-right: 240px;
  margin-bottom: 128px;
}
.image-3{
  width: 342px;
height: 396px;
gap: 24px;
}
/* latest deal section style.. */
.deals-container{
  width: 1440px;
height: 449px;
margin: auto;
background-image: url(image/Rectangle\ 9.png);
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 128px;
}
.deals{
   width: 866px;
  height: 209px;
  margin: auto;
}
.deals-header{
  width: 450px;
  height: 48px;
  margin: auto;
  color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
margin-bottom: 16px;
}
.deals-description{
  color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
width: 280px;
height: 30px;
margin: auto;
margin-bottom: 48px;
}
.Subscribe-form{
  width: 870px;
  height: 209px;
  display: flex;
  justify-content: space-around;
  gap: 16px;

}
.email-input{
  width: 700px;
height: 64px;
border-radius: 8px;
background: #FFF;
color: rgba(39, 39, 39, 0.60);
text-align: left;
font-size: 16px;
font-weight: 400;
padding-left: 30px;
border: 0px;
}
.Subscribe-btn{
  width: 150px;
height: 64px;
border-radius: 8px;
background: #E55473;
color: #FFF;
font-size: 20px;
font-weight: 700;
border: 0px;
}
.Subscribe-btn:hover{color: rgba(0, 148, 50,1.0);}
/* footer section style */
.footer-container{
  width: 1922px;
height: 449px;
background: #111010;
display: flex;
align-items: center;
justify-content: center;
}
.footer-content{
  width: 625px;
  height: 193px;
  margin: auto;
}
.footer-title{
  color: #E55473;
font-size: 48px;
font-weight: 800;
width: 259px;
height: 58px;
margin: auto;
margin-bottom: 24px;
}
.footer-title>span{
  color:#FFFFFF ;
}
.footer-description{
  color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 18px;
font-weight: 400;
width: 625px;
height: 60px;
margin-bottom:32px ;
}
.footer-text{
  color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 16px;
font-weight: 400;
}